/* Title */
h1 {
    text-align: center;
    font-size:80px;
}

.trash_icon, .cooked_icon {
    width: 60px;
    height: 60px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#popup_add {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#add_content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid gray;
    width: 20%;
}

#close_btn {
    color: lightgray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close_btn:hover {
    color: gray;
    cursor: pointer;
}

.appear {
    display: block; /* Hidden by default */
}

.disappear {
    display: none;
}


#exact_content label,#exact_content input,#exact_content select{
    font-size: 30px;
}






/* Add button */

